body{
  background-image: url(http://vignette2.wikia.nocookie.net/youtaites/images/a/a9/Background-radial-gradient-dark.jpg/revision/latest?cb=20150214024058);
}

h1{
  font-family: 'Muli', sans-serif;
  color: red;
  letter-spacing: 4px;
}

#your-movie{

  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  color: red;
}


#titlebutton{

  font-family: 'Quicksand', sans-serif;
  letter-spacing: 6px;
  color: red;
}

#title{
  float: right; 
  margin-right: 100px;
  color: red;
}

#year{
  float: right;
  margin-right: 120px;
  color: red;
}

#rating{
  float: right;
  margin-right: 130px;
  color: red;
}
#poster{
  float: right;
margin-right: 600px;
margin-top: 50px;
}

#trailer{
  float: right;
  margin-right: 600px;
  margin-top: 50px;
}

#plot{
  margin-top: 200px;
  margin-left: 800px;
}

#map{

}

#homebutton{
  margin-top: 350px;
  
}